/* ---Search bar ---*/

.searchBar {
  border: none;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
}
.searchBar input {
  border: none;
  outline: none;
  background-color: #f5f6f7;
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  margin-left: 10px;
}
/*--------------------------
MEDIAS QUERIES
----------------------------*/

/*------Max 647 px------*/
@media (max-width: 647px) {
  .searchBar {
    width: 400px;
  }
}
