/* ------------------
HEADER
--------------------*/
:root {
  --vert-vinted: #09b1ba;
  --light-grey-vinted: #ebedee;
}

.header {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.logo {
  height: 40px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  width: 100%;
}

.btsConnect {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.btsConnect div {
  margin: 0 10px;
}
.btWhite {
  background-color: #fff;
  border: 1px solid var(--vert-vinted);
  color: var(--vert-vinted);
}

.btBlue {
  background-color: var(--vert-vinted);
  border: 1px solid var(--vert-vinted);
  color: white;
}

.btWhite,
.btBlue {
  text-decoration: none;
  font-size: 12px;
  height: 30px;
  min-width: 115px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---Filters and sort---*/

.filtersBar {
  display: flex;
  align-items: center;
}

.searchFilter {
  display: flex;
  flex-direction: column;
}
