/* ------------------
HEADER
--------------------*/
:root {
  --vert-vinted: #09b1ba;
  --light-grey-vinted: #ebedee;
}

.header {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.logo {
  height: 40px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
  width: 100%;
}

.btsConnect {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.btsConnect div {
  margin: 0 10px;
}
.btWhite {
  background-color: #fff;
  border: 1px solid var(--vert-vinted);
  color: var(--vert-vinted);
}

.btBlue {
  background-color: var(--vert-vinted);
  border: 1px solid var(--vert-vinted);
  color: white;
}

.btWhite,
.btBlue {
  text-decoration: none;
  font-size: 12px;
  height: 30px;
  min-width: 115px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* --- Hero --- */

.hero {
  background: center / cover no-repeat url("/src/assets/img/hero01.jpg");
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
.tear {
  position: absolute;
  bottom: -5px;
  right: 0px;
  /* background-color: red; */
  height: 20%;
  width: 100%;
}

.home-hero-ready {
  background-color: #fff;
  border: solid 1px var(--light-grey-vinted);
  border-radius: 5px;
  height: 220px;
  width: 360px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  font-size: 34px;
  line-height: 45px;
}

.home-hero-ready button {
  width: 70%;
  height: 40px;
  font-size: 18px;
  margin-top: 30px;
}

/* ---Filters and sort---*/

.filtersBar {
  display: flex;
  align-items: center;
}

.searchFilter {
  display: flex;
  flex-direction: column;
}
