/* ------------------
SLIDER PRICE RANGE
--------------------*/
:root {
  --vert-vinted: #09b1ba;
  --light-grey-vinted: #ebedee;
}

.sliderBar {
  font-size: 12px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.MuiSlider-colorPrimary {
  color: #09b1ba !important;
}
