/* ------------------
GLOBAL
--------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}
:root {
  --vert-vinted: #09b1ba;
  --light-grey-vinted: #ebedee;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

a {
  text-decoration: none;
}

/* --- Hero --- */

.hero {
  background: center / cover no-repeat url("./assets/img/hero01.jpg");
  height: 500px;
  display: flex;
  position: relative;
}
.tear {
  position: absolute;
  bottom: -5px;
  right: 0px;
  /* background-color: red; */
  height: 20%;
  width: 100%;
}

/* --- Content --- */

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* ------------------
OFFER PAGE
--------------------*/
.offer-container {
  display: flex;
  height: 100%;
  background-color: var(--light-grey-vinted);
}

/* --- Picture --- */

.col1-picture {
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}

.col1-picture img {
  max-height: 600px;
  max-width: 600px;
  object-fit: cover;
}

/* --- Infos --- */

.col2-infos {
  width: 50%;
  height: 100%;
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.infos-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 50px 50px;
}
.product-details {
  display: flex;
  flex-direction: column;
}

.detail-line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* ------------------
SIGNUP et LOGIN PAGE
--------------------*/
.formsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.signUpContent,
.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey-vinted);
  width: 30%;
  height: 400px;
  margin-top: 50px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpForm input {
  height: 40px;
  margin: 10px 0;
}
.checkboxNews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
